@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
    overflow: hidden;
}

a, a:active, a:link, a:visited {
    position: absolute;
    top: 15px;
    right: 25px;

    color: #303847;
    font-size: 30px;
    text-decoration: none;
}

h1 {
    position: absolute;
    left: 50%;
    top: 35vmin;
    transform: translate(-50%, -35%);

    width: 100vw;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 75px;
    color: #303847;

    text-align: center;
}

@media screen and (max-width: 768px) {
    body {
        display: none;
    }
}

p {
    position: absolute;
    left: 50%;
    top: 50vmin;
    transform: translate(-50%, -50%);

    width: 100vw;

    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #303847;

    text-align: center;
}

#t1 {
    position: absolute;
    top: -50px;
    left:100px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 200px;
    color: #e0e4eb;

    text-align: left;
}

#t2 {
    position: absolute;
    bottom: -300px;
    right: 10px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 300px;
    color: #e7ebf3;

    text-align: right;
}